[data-theme='light']  {
  --ifm-color-primary-lightest: #FFFFFF;
  --ifm-color-primary-lighter: #FFFFFF;
  --ifm-color-primary-light: #FFFFFF;
  --ifm-color-primary: #333;
  --ifm-color-primary-dark: #E6E6E6;
  --ifm-color-primary-darker: #D9D9D9;
  --ifm-color-primary-darkest: #B3B3B3;
}

[data-theme='dark'] {
  --ifm-color-primary: #FFD048;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #FFD048;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}



.footer__logo {
  height: 50px;
}